body{
    max-width: 500px;
    margin: auto;
}

div#bar{
    background-color: #007BFF;
    height: 15%;
    margin-top: 10%;
    text-align: center;
}

div#logo{
    text-align: center;
}

img{
    margin-top: -5%;
    height: 150%;
}

div#content{
    margin-top: 25%;
    text-align: center;
}