body{
    max-width: 400px;
    margin: auto;
}

div#box{
    width: 400px;
    height: 100%;
    background-color: white;
}

div#bar{
    background-color: #007BFF;
    height: 8%;
    position: static;
    margin-bottom: 5%;
}

div#logo{
    text-align: left;
    padding: 1px 0px 1px 5px;
}

img{
    width: 15%;
    height: 90%;
}

a {
    text-decoration: none;
}

.navbar{
    position: static;
    max-width: 400px;
    margin: auto;
    text-align: center;
    -webkit-column-count: 3;
            column-count: 3;
    color: #808080;
    background-color: #F0F3F8;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar img{
    width: 25%;
    margin-top: -50%;
    margin-bottom: -10%;
}

.navbar .inventory{
    padding: 11.5% 0 0.4% 0;
}

.navbar .scan{
    padding: 11.5% 0 0.4% 0;
}

.navbar .history {
    padding: 11.5% 0 0.4% 0;
}

.navbar p{
    font-family: Roboto-Light;
    font-size: 14px;
    color: #808080;
    margin-bottom: 1%;
    text-align: center;
}

p{
    text-align: left;
    font-weight: 100;
    font-family: Roboto-Light;
}

p#confirmation{
    font-size: smaller;
    color: #808080;
    margin-bottom: 60%;
    font-family: Roboto-Light;
}

form{
    text-align: center;
    font-family: Roboto-Light;
}

input#inputted{
    width: 95%;
    height: 40px;
    background-color: #F0F3F8;
    border: 1px solid #C4C4C4;
    margin-bottom: 1px;
    font-size: 1rem;
}

input#button{
    width: 80%;
    height: 40px;
    background-color: #F0F3F8;
    color: black;
    border: 1px solid #C4C4C4;
    font-size: larger;
    font-family: Roboto-Light;
}

@font-face {
    font-family: Roboto-Light;
    src: url(../assets/font/Roboto/Roboto-Light.ttf);
}

@media only screen and (max-width: 320px) {
    body{
        background-color: #fffafa;
    }
}

@media only screen and (max-width: 1024px) {
    
}