@import "./_patient-default";

.main {
        @include center();

        img {
                @include center();
                width: 30%;
                margin-top: 10%;
        }

        #name {
                margin-top: 5%;
        }
        
        .container {
                margin-top: 3.4%;
                .info {
                        column-count: 2;
                        background-color: $inactive_color_2;;
                        border: 1px solid $outline_color;
                        border-bottom: 0px;
                        padding: 1%;

                        p {
                                text-align: left;
                                font-size: 150%;
                        }

                        #left {
                                text-align: right;
                        }
                        #last-item {
                                border-bottom: 1px;
                        }
                }
        }

        .changepass {
                @include change-pass();
        }
}

.footer {
        .profile {
                @include footer-blue;
        }
}

