@import './patient-toclaim-empty';

.main {

    .item {

        .qrcode {
            float: right;
            background-color: $main_color;
            width: 30%;
            padding: 1%;
            border-radius: 10px;
            p {
                color: white;
            }
            img {
                width: 40%;
            }
        }
    }
}