@import "./patient-default";


.header {
    .section {
        display: flex;
        text-align: center;

        a {
            width: 100%;
            p {
                font-size: 1.5rem;
                font-family: 'Inter-Bold';
                padding: 4% 0 3% 0;
            }
        }

        #to-claim {
            border-bottom: 4px solid $main_color;
            color: $main_color;
        }
        
    }
}

.main {
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;

    h1 {
        font-family: 'Inter-Bold';
        padding-bottom: 2%;
    }
}

.footer {
    #prescriptions {
        @include footer-blue();
    }
}
@media (max-width: 1024px) {

    .main {
        font-size: 1rem;
    }

}
@media (max-width: 767px) {
    .header {
        .section {
            a {
                p {
                    font-size: 1.1rem;
                    padding: 6%;
                }
            }

            #to-claim {
                border-bottom: 2px solid $main_color;
                color: $main_color;
            }
        }
    }

    .main {
        font-size: 0.8rem;
        
    }

    .footer {
        ul {
            a {
                li {
                    padding-top: 5px;
                }
            }
        }
    }
}
