@import "./patient-default";

.main {
    width: 90%;
    margin: auto;

    .back {
        padding: 2% 0 2% 0;
    }

    .form-container {
        padding-top: 2%;
        form {
            padding-bottom: 1%;
            p {
                font-size: 1.4rem;
                padding-bottom: 1%;
            }
            input {
                @include text-input();
            }
        }
    }

    .changepass {
        text-align: center;
        padding-top: 10%;
        input[type=button] {
            @include big-button-2();
        }
    }
}

.footer {
    #profile {
        @include footer-blue();
    }
}

@media (max-width: 767px) {
    .main {
        padding-top: 5%;
        .form-container {
            form {
                padding-bottom: 5%;
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}
