@font-face {
  font-family: 'Inter-regular';
  font-style: normal;
  src: local("Inter-regular"), url("../../assets/font/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  src: local("Inter-Bold"), url("../../assets/font/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  src: local("Inter-Medium"), url("../../assets/font/Inter/Inter-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter-regular';
  color: #808080;
}

body {
  margin: auto;
  max-width: 50%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header .logo {
  background-color: #007BFF;
}

.header .logo img {
  width: 7%;
  padding: 5px 0px 3px 5px;
}

.footer {
  color: #808080;
  background-color: #F0F3F8;
  width: 50%;
  position: fixed;
  bottom: 0;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.footer ul li {
  padding: 2% 0 1.5% 0;
  font-size: 1.4rem;
}

.footer ul li img {
  width: 12.5%;
}

@media (max-width: 1024px) {
  body {
    max-width: 100%;
  }
  .header .logo img {
    width: 12%;
  }
  .footer {
    width: 100%;
  }
  .footer ul li {
    padding-top: 3%;
  }
  .footer ul li img {
    width: 15%;
  }
}

@media (max-width: 767px) {
  .header .logo img {
    width: 14%;
  }
  .footer {
    width: 100%;
  }
  .footer ul li {
    font-size: 0.8rem;
  }
  .footer ul li img {
    width: 25%;
  }
}

.header .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.header .section a {
  width: 100%;
  background-color: white;
}

.header .section a p {
  font-size: 1.5rem;
  font-family: 'Inter-Bold';
  padding: 4% 0 3% 0;
}

.header .section #claim {
  border-bottom: 4px solid #007BFF;
  color: #007BFF;
}

.main {
  padding: 2% 0 12% 0;
}

.main .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 5px;
  margin: auto;
  padding: 2% 0;
  background-color: #F0F3F8;
  width: 95%;
  border-radius: 15px;
}

.main .grid-container .item {
  background-color: #30AADD;
  border-radius: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .grid-container .item img {
  width: 20%;
  padding: 4%;
  border-radius: 30px;
}

.main .grid-container .item .item-info {
  padding: 2% 0;
}

.main .grid-container .item .item-info :first-child {
  font-family: Inter-Bold;
}

.main .grid-container .item .item-info p {
  color: white;
}

.footer #prescriptions {
  background-color: #007BFF;
}

.footer #prescriptions p {
  font-family: Inter-Bold;
  color: white;
}

@media (max-width: 1024px) {
  .main .grid-container .item .item-info p {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .header .section a p {
    font-size: 1.1rem;
    padding: 6%;
  }
  .header .section #claim {
    border-bottom: 2px solid #007BFF;
  }
  .main {
    padding-bottom: 18%;
  }
  .main .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .grid-container .item {
    width: 85%;
  }
  .main .grid-container .item .item-info p {
    font-size: 1.1rem;
  }
  .footer ul a li {
    padding-top: 5px;
  }
}
/*# sourceMappingURL=patient-claimed.css.map */