@font-face {
  font-family: 'Inter-regular';
  font-style: normal;
  src: local("Inter-regular"), url("../../assets/font/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  src: local("Inter-Bold"), url("../../assets/font/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  src: local("Inter-Medium"), url("../../assets/font/Inter/Inter-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter-regular';
  color: #808080;
}

body {
  margin: auto;
  max-width: 50%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header .logo {
  background-color: #007BFF;
}

.header .logo img {
  width: 7%;
  padding: 5px 0px 3px 5px;
}

.footer {
  color: #808080;
  background-color: #F0F3F8;
  width: 50%;
  position: fixed;
  bottom: 0;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.footer ul li {
  padding: 2% 0 1.5% 0;
  font-size: 1.4rem;
}

.footer ul li img {
  width: 12.5%;
}

@media (max-width: 1024px) {
  body {
    max-width: 100%;
  }
  .header .logo img {
    width: 10%;
  }
  .footer {
    width: 100%;
  }
  .footer ul li {
    padding-top: 3%;
  }
  .footer ul li img {
    width: 15%;
  }
}

@media (max-width: 767px) {
  .header .logo img {
    width: 14%;
  }
  .footer {
    width: 100%;
  }
  .footer ul li {
    font-size: 0.8rem;
  }
  .footer ul li img {
    width: 25%;
  }
}

.main {
  padding-bottom: 20%;
}

.main .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.main .top img {
  width: 40%;
}

.main .top p {
  font-size: 1.5rem;
  padding-top: 4%;
}

.main .column {
  padding-bottom: 3%;
  font-size: 1.4rem;
}

.main .column .info {
  background-color: #F0F3F8;
  padding: 1% 3%;
  border-bottom: 1px solid #C4C4C4;
}

.main .column .info :first-child {
  color: #C4C4C4;
}

.main .changepass {
  text-align: center;
}

.main .changepass form input {
  font-size: 1.4rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 1% 6% 1% 6%;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
}

.footer ul #profile {
  background-color: #007BFF;
}

.footer ul #profile p {
  font-family: Inter-Bold;
  color: white;
}

@media (max-width: 1024px) {
  .main .top img {
    width: 40%;
  }
  .main .changepass {
    padding-top: 5%;
  }
  .main .changepass form input {
    padding: 2% 12% 2% 12%;
  }
}

@media (max-width: 767px) {
  .main {
    padding-top: 5%;
  }
  .main .top img {
    width: 70%;
  }
  .main .top p {
    font-size: 1rem;
  }
  .main .column {
    font-size: 1.2rem;
  }
  .main .changepass {
    padding-top: 10%;
  }
  .main .changepass form input {
    font-size: 1.2rem;
    padding: 2% 12% 2% 12%;
  }
}
/*# sourceMappingURL=patient-profile.css.map */