@font-face {
    font-family: 'Inter-regular';
    font-style: normal;
    src: local('Inter-regular'), url('../../assets/font/Inter/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    font-style: normal;
    src: local('Inter-Bold'), url('../../assets/font/Inter/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter-Medium';
    font-style: normal;
    src: local('Inter-Medium'), url('../../assets/font/Inter/Inter-Medium.ttf');
}

$main_color: #007BFF;
$accent_color: #54A7FF;
$inactive_color: #808080;
$inactive_color_2: #F0F3F8;
$outline_color: #C4C4C4;

@mixin footer-blue {
    background-color: $main_color;
    p {
        font-family: Inter-Bold;
        color: white;
    }
}

@mixin button-color {
    background-color: $accent_color;
    color: white;
    border: none;
    border-radius: 5px;
}

@mixin button-color-2 {
    font-size: 1.4rem;
    box-shadow: none;
    padding: 1% 6% 1% 6%;
    border-radius: 5px;
    border: 1px solid $outline_color;
}

@mixin text-input {
    font-size: 1.8rem;
    width: 100%;
    padding-bottom: 1%;
    background-color: $inactive_color_2;
    border-bottom: 1px solid $outline_color;
}

