@font-face {
  font-family: 'Inter-regular';
  font-style: normal;
  src: local("Inter-regular"), url("../../assets/font/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  src: local("Inter-Bold"), url("../../assets/font/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  src: local("Inter-Medium"), url("../../assets/font/Inter/Inter-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter-regular';
  color: #808080;
}

a {
  text-decoration: none;
}

.header {
  position: static;
  max-width: 50%;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #007BFF;
  text-align: left;
}

.header .logo {
  padding: 1px 0px 1px 5px;
}

.header .logo img {
  width: 7%;
}

.footer {
  position: static;
  max-width: 50%;
  margin: auto;
  text-align: center;
  -webkit-column-count: 3;
          column-count: 3;
  color: #808080;
  background-color: #F0F3F8;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer img {
  width: 13%;
  margin-top: -50%;
}

.footer .prescriptions {
  padding: 11.5% 0 0.4% 0;
}

.footer .myqr {
  padding: 11.5% 0 0.4% 0;
}

.footer .profile {
  padding: 11.5% 0 0.4% 0;
}

.main {
  position: static;
  max-width: 50%;
  margin: auto;
  text-align: center;
  text-align: left;
  margin-top: 5%;
}

.main #back {
  text-decoration: underline;
  margin-left: 2%;
}

.main #confirmation {
  margin-top: -1.5%;
  margin-left: 5.5%;
}

.main form {
  margin-top: 4%;
}

.main form p {
  font-size: 150%;
  margin-left: 5%;
  margin-bottom: 0.5%;
}

.main form input {
  width: 90%;
  margin-left: 4.5%;
  font-size: 210%;
  margin-bottom: 2%;
  background-color: #F0F3F8;
}

.main .changepass {
  margin-top: 10%;
  margin-top: 29%;
}

.main .changepass p {
  position: static;
  max-width: 50%;
  margin: auto;
  text-align: center;
  background-color: #F0F3F8;
  width: 34%;
  padding: 1.5%;
  border: 1px solid #C4C4C4;
}

.footer .profile {
  background-color: #007BFF;
  padding: 11.5% 0 0.4% 0;
}

.footer .profile p {
  color: white;
  font-family: 'Inter-Bold';
}

@font-face {
  font-family: 'Inter-regular';
  font-style: normal;
  src: local("Inter-regular"), url("../../assets/font/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  src: local("Inter-Bold"), url("../../assets/font/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  src: local("Inter-Medium"), url("../../assets/font/Inter/Inter-Medium.ttf");
}

* {
  margin: auto;
  padding: 0;
  font-family: 'Inter-regular';
  color: #808080;
}

* body {
  max-width: 50%;
}

* a {
  text-decoration: none;
}

* ul {
  list-style-type: none;
}

.header {
  background-color: #007BFF;
  position: -webkit-sticky;
  position: sticky;
}

.header img {
  width: 7%;
  padding: 1px 0px 1px 5px;
}

.footer {
  color: #808080;
  background-color: #F0F3F8;
  width: 50%;
  position: fixed;
  bottom: 0;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.footer ul li {
  padding-top: 1%;
  font-size: 1.5rem;
}

.footer ul li img {
  width: 7%;
}

@media (max-width: 1024px) {
  body {
    max-width: 100%;
  }
  .header img {
    width: 12%;
  }
  .footer {
    width: 100%;
  }
  .footer ul li {
    font-size: 1rem;
  }
  .footer ul li img {
    width: 16%;
  }
}
/*# sourceMappingURL=doctor-changepass.css.map */