@font-face {
  font-family: 'Inter-regular';
  font-style: normal;
  src: local("Inter-regular"), url("../../assets/font/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  src: local("Inter-Bold"), url("../../assets/font/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  src: local("Inter-Medium"), url("../../assets/font/Inter/Inter-Medium.ttf");
}

* {
  font-family: Inter-Regular;
  color: #808080;
}

body {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

p, ul {
  padding: 0;
  margin: 0;
}

.header, .content, .footer {
  width: 50vw;
}

.header {
  background-color: #007BFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header img {
  width: 75px;
  padding: 0.5%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  background-color: #F0F3F8;
}

.footer ul a {
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer ul a li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  padding: 1.5% 0 0.2% 0;
}

.footer ul a li img {
  width: 40px;
}

@media (max-width: 1024px) {
  .header, .content, .footer {
    width: 100vw;
  }
}

@media (max-width: 767px) {
  .header img {
    width: 60px;
  }
  .footer ul a li p {
    font-size: 1rem;
  }
  .footer ul a li img {
    width: 30px;
  }
}

.main {
  padding-bottom: 10%;
}

.main .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.main .top img {
  width: 30%;
}

.main .top p {
  font-size: 1.5rem;
  padding-top: 4%;
}

.main .column {
  padding-bottom: 3%;
  font-size: 1.4rem;
}

.main .column .info {
  background-color: #F0F3F8;
  padding: 1% 3%;
  border-bottom: 1px solid #C4C4C4;
}

.main .column .info :first-child {
  color: #C4C4C4;
}

.main .changepass {
  text-align: center;
}

.main .changepass form input {
  font-size: 1.4rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 1% 6% 1% 6%;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
}

.footer #profile {
  background-color: #007BFF;
}

.footer #profile p {
  font-family: Inter-Bold;
  color: white;
}

@media (max-width: 1024px) {
  .main .top img {
    width: 40%;
  }
  .main .changepass {
    padding-top: 5%;
  }
  .main .changepass form input {
    padding: 2% 12% 2% 12%;
  }
}

@media (max-width: 767px) {
  .main {
    padding-top: 5%;
  }
  .main .top img {
    width: 70%;
  }
  .main .top p {
    font-size: 1rem;
  }
  .main .column {
    font-size: 1.2rem;
  }
  .main .changepass {
    padding-top: 10%;
  }
  .main .changepass form input {
    font-size: 1.2rem;
    padding: 2% 12% 2% 12%;
  }
}
/*# sourceMappingURL=doctor-profile.css.map */