@font-face {
  font-family: 'Inter-regular';
  font-style: normal;
  src: local("Inter-regular"), url("../../assets/font/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  src: local("Inter-Bold"), url("../../assets/font/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  src: local("Inter-Medium"), url("../../assets/font/Inter/Inter-Medium.ttf");
}

* {
  font-family: Inter-Regular;
  color: #808080;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

p, ul {
  padding: 0;
  margin: 0;
}

.header, .content, .footer {
  width: 50vw;
}

.header {
  background-color: #007BFF;
  position: fixed;
}

.header img {
  width: 5rem;
  padding: 0.5%;
}

.content {
  margin-top: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  background-color: #F0F3F8;
}

.footer ul a {
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer ul a li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.4rem;
  padding: 1.5% 0 0.2% 0;
}

.footer ul a li img {
  width: 2.5rem;
}

@media (max-width: 1024px) {
  .header, .content, .footer {
    width: 100vw;
  }
}

@media (max-width: 767px) {
  .header img {
    width: 60px;
  }
  .footer ul a li p {
    font-size: 1rem;
  }
  .footer ul a li img {
    width: 30px;
  }
}

.content {
  padding-top: 2rem;
  width: 40em;
}

.content .info {
  background-color: #54A7FF;
  padding: 3%;
  border-radius: 10px;
}

.content .info p {
  color: white;
}

.content .info :first-child {
  font-family: Inter-Bold;
  font-size: 2rem;
}

.content .info #doctor {
  font-family: Inter-Medium;
  font-size: 1.3rem;
}

.content .main {
  background-color: #F0F3F8;
  margin-top: 1%;
  padding: 2% 5% 2% 5%;
  border-radius: 15px;
}

.content .main p {
  font-family: Inter-Medium;
  font-size: 1.5rem;
  padding-top: 1%;
}

.content .main .main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  padding-top: 3%;
}

.content .main .main-form input[type=text] {
  width: 100%;
  font-size: 1.3rem;
}

.content .main .main-form .button-wrapper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 3% 0;
}

.content .main .main-form .button-wrapper input[type=button] {
  background-color: #54A7FF;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: Inter-Bold;
  font-size: 1.5rem;
  width: 15rem;
  height: 5rem;
  border-radius: 20px;
}

.footer ul a #prescribe {
  background-color: #007BFF;
}

.footer ul a #prescribe p {
  font-family: Inter-Bold;
  color: white;
}
/*# sourceMappingURL=doctor-prescribe-scanned-next.css.map */