@import "./doctor-base";

p {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        @include button-color;
        font-size: 1.4em;
        width: 8rem;
        height: 3rem;
        margin-right: 20px; // Need
    }
}

.content {
    .top {
        display: flex;
        justify-content: space-between;
        padding: 1% 4%;
    }

    .info {
        display: flex;
        justify-content: center;
        padding-top: 2%;

        p,
        h1 {
            color: white;
        }

        .info-wrapper {
            background-color: $main_color;
            width: 45em;
            border-radius: 10px;
            padding: 0 4% 3% 4%;
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);

            .name {
                h1 {
                    font-family: Inter-Bold;
                }
            }

            .other-info {
                .up {
                    font-family: Inter-Medium;
                    font-size: 1.4em;
                }
            }
        }
    }

    .container {
        display: flex;
        justify-content: center;
        padding: 2% 0;

        p {
            color: white;
        }

        .container-wrapper {
            background-color: $inactive_color_2;
            padding: 3%;
            border-radius: 10px;

            #to-claim-header,
            #claim-header {
                color: $inactive_color;
                font-family: Inter-Bold;
                font-size: 1.5rem;
                padding-bottom: 2%;
            }

            .flex-container {
                width: 45em;
                flex: 1;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                gap: 20px;

                .item {
                    background-color: $accent_color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    width: 21em;
                    height: 7em;
                    border-radius: 10px;
                    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);

                    img {
                        width: 6em;
                        border-radius: 5px;
                    }

                    .item-info {
                        width: 13em;

                        :first-child {
                            font-family: Inter-Bold;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    ul {
        a {
            #prescribe {
                @include footer-blue;
            }
        }
    }
}

@media (width: 1366px) {
    .content {
        .info {
            .info-wrapper {
                width: 35em;
            }
        }

        .container {
            .container-wrapper {
                .flex-container {
                    width: 35em;
    
                    .item {
                        width: 15em;
                        height: 5em;

                        img {
                            width: 4em;
                            border-radius: 5px;
                        }

                        .item-info {
                            width: 8em;

                            p {
                                font-size: 0.6em;
                            }

                            :first-child {
                                font-family: Inter-Bold;
                                font-size: 0.75em;
                            }
                        }
                    }
                }
            } 
        }
    }
}

@media(max-width: 767px) {
    .content {
        .info {
            .info-wrapper {
                width: 20em;

                .name {
                    h1 {
                        font-size: 1.2em;
                    }
                    
                }

                .other-info {
                    .up {
                        font-size: 1.1em;
                    }
                    p {
                        font-size: 0.9em;
                    }
                    
                }
            }
        }

        .container {
            .container-wrapper {
                .flex-container {
                    width: 20em;
    
                    .item {
                        width: 18em;
                        height: 6em;

                        img {
                            width: 5em;
                            border-radius: 5px;
                        }

                        .item-info {
                            width: 11em;

                            p {
                                font-size: 0.6em;
                            }

                            :first-child {
                                font-family: Inter-Bold;
                                font-size: 1em;
                            }
                        }
                    }
                }
            } 
        }
    }
}