@import "./doctor-default";

.content {
    text-align: center;
    padding-top: 2%;

    img {
        width: 50%;
    }

    form {
        padding-top: 2%;

        input[type=text] {
            width: 50%;
            background-color: $inactive_color_2;
            border: 1px solid $outline_color;
            border-radius: 5px;
        }
        input[type=button] {
            @include big-button();

            width: 10%;
        }
    }
}

