@font-face {
  font-family: 'Inter-regular';
  font-style: normal;
  src: local("Inter-regular"), url("../../assets/font/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  src: local("Inter-Bold"), url("../../assets/font/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  src: local("Inter-Medium"), url("../../assets/font/Inter/Inter-Medium.ttf");
}

* {
  margin: auto;
  padding: 0;
  font-family: 'Inter-regular';
  color: #808080;
}

* body {
  max-width: 50%;
}

* a {
  text-decoration: none;
}

* ul {
  list-style-type: none;
}

.header {
  background-color: #007BFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header img {
  width: 7%;
  padding: 1px 0px 1px 5px;
}

.footer {
  color: #808080;
  background-color: #F0F3F8;
  width: 50%;
  position: fixed;
  bottom: 0;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.footer ul li {
  padding-top: 1%;
  font-size: 1.5rem;
}

.footer ul li img {
  width: 7%;
}

@media (max-width: 1024px) {
  body {
    max-width: 100%;
  }
  .header img {
    width: 12%;
  }
  .footer {
    width: 100%;
  }
  .footer ul li {
    font-size: 1rem;
  }
  .footer ul li img {
    width: 16%;
  }
}

.main {
  padding-top: 2%;
  padding-bottom: 10%;
}

.main .info {
  background-color: #54A7FF;
  border-radius: 20px;
  padding: 1% 2% 3% 2%;
  width: 80%;
}

.main .info p {
  color: white;
}

.main .info .name p {
  font-size: 2.5rem;
  font-family: Inter-Bold;
  border-bottom: 1.5px solid white;
}

.main .info .other-info p {
  margin: 0;
  font-size: 1.2rem;
  padding: 0.7%;
}

.main .container #to-claim-header, .main .container #claim-header {
  font-size: 2rem;
  font-family: Inter-Bold;
  padding: 2%;
  padding-left: 10%;
}

.main .container .flex-wrapper {
  width: 80%;
  background-color: #F0F3F8;
  border-radius: 20px;
  padding-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .flex-wrapper .column {
  padding-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .container .flex-wrapper .column .item {
  background-color: #30AADD;
  width: 100%;
  border-radius: 20px;
  padding-right: 2%;
  margin-bottom: 2%;
}

.main .container .flex-wrapper .column .item img {
  width: 25%;
  padding: 4%;
  border-radius: 40px;
  float: left;
}

.main .container .flex-wrapper .column .item .item-info {
  padding-top: 5%;
}

.main .container .flex-wrapper .column .item .item-info p {
  color: white;
  font-size: 1.1rem;
}

.main form {
  text-align: center;
  padding-top: 2%;
}

.main form input[type="button"] {
  background-color: #54A7FF;
  color: white;
  border-radius: 15px;
  font-size: 1.4rem;
  font-family: Inter-Bold;
  padding: 1.2% 6% 1.2% 6%;
  font-size: 1.2rem;
  padding: 1% 6% 1% 6%;
  border-radius: 10px;
}

.footer ul #prescribe {
  background-color: #007BFF;
}

.footer ul #prescribe p {
  color: white;
}

@media (max-width: 1024px) {
  .main .info .name {
    margin-top: 1%;
  }
  .main .info .name p {
    font-size: 2.3rem;
  }
  .main .info .other-info p {
    font-size: 1rem;
  }
  .main form {
    padding-bottom: 5%;
  }
}

@media (max-width: 767px) {
  .main .info .name {
    margin-top: 1%;
  }
  .main .info .name p {
    font-size: 1.12rem;
    text-align: center;
  }
  .main .info .other-info p {
    font-size: 1rem;
  }
  .main .container #to-claim-header, .main .container #claim-header {
    font-size: 1.3rem;
  }
  .main .container .flex-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main form {
    padding-bottom: 10%;
  }
}
/*# sourceMappingURL=doctor-prescribe-scanned.css.map */