@font-face {
  font-family: 'Inter-regular';
  font-style: normal;
  src: local("Inter-regular"), url("../../assets/font/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  src: local("Inter-Bold"), url("../../assets/font/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  src: local("Inter-Medium"), url("../../assets/font/Inter/Inter-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter-regular';
  color: #808080;
}

body {
  margin: auto;
  max-width: 50%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #007BFF;
}

.header img {
  width: 7%;
  padding: 5px 0px 3px 5px;
}

.footer {
  color: #808080;
  background-color: #F0F3F8;
  width: 50%;
  position: fixed;
  bottom: 0;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.footer ul li {
  padding: 1.3% 0 0.8% 0;
  font-size: 1.4rem;
}

.footer ul li img {
  width: 8.5%;
}

@media (max-width: 1024px) {
  body {
    max-width: 100%;
  }
  .header img {
    width: 10%;
  }
  .footer {
    width: 100%;
  }
  .footer ul li {
    padding-top: 2%;
  }
  .footer ul li img {
    width: 10%;
  }
}

@media (max-width: 767px) {
  .header img {
    width: 14%;
  }
  .footer {
    width: 100%;
  }
  .footer ul li {
    font-size: 0.8rem;
  }
  .footer ul li img {
    width: 17%;
  }
}

.main {
  padding-top: 2%;
  padding-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .info {
  width: 80%;
  padding-bottom: 2%;
}

.main .info .info-wrapper {
  background-color: #54A7FF;
  border-radius: 20px;
  padding: 3.5%;
}

.main .info .info-wrapper p {
  color: white;
}

.main .info .info-wrapper .name {
  padding-bottom: 1%;
}

.main .info .info-wrapper .name p {
  font-size: 2.5rem;
  font-family: Inter-Bold;
  border-bottom: 3px solid white;
}

.main .info .info-wrapper .other-info p {
  margin: 0;
  font-size: 1.2rem;
  padding: 0.7%;
}

.main .container {
  width: 80%;
  padding-bottom: 1%;
}

.main .container .container-wrapper {
  background-color: #F0F3F8;
  border-radius: 15px;
}

.main .container .container-wrapper #to-claim-header, .main .container .container-wrapper #claim-header {
  font-size: 2rem;
  font-family: Inter-Bold;
  padding: 1% 0 0 4%;
}

.main .container .container-wrapper .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 5px;
  margin: auto;
  padding: 2% 0;
}

.main .container .container-wrapper .grid-container .item {
  background-color: #30AADD;
  border-radius: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container .container-wrapper .grid-container .item img {
  width: 20%;
  padding: 4%;
  border-radius: 30px;
}

.main .container .container-wrapper .grid-container .item .item-info {
  padding-top: 5%;
}

.main .container .container-wrapper .grid-container .item .item-info p {
  color: white;
  font-size: 1.2rem;
}

.main form {
  width: 100%;
  text-align: center;
  padding: 2% 0 1% 0;
}

.main form input[type="button"] {
  background-color: #54A7FF;
  color: white;
  border-radius: 8px;
  font-size: 1.4rem;
  font-family: Inter-Bold;
  padding: 1.2% 6% 1.2% 6%;
  font-size: 2rem;
  padding: 1% 6% 1% 6%;
  border-radius: 10px;
}

.footer ul #prescribe {
  background-color: #007BFF;
}

.footer ul #prescribe p {
  font-family: Inter-Bold;
  color: white;
}

@media (max-width: 1024px) {
  .main .info .info-wrapper .name p {
    font-size: 2rem;
  }
  .main .info .info-wrapper .other-info p {
    font-size: 1rem;
  }
  .main .container .container-wrapper #to-claim-header, .main .container .container-wrapper #claim-header {
    font-size: 1.7rem;
  }
  .main .container .container-wrapper .grid-container .item {
    border-radius: 8px;
  }
  .main .container .container-wrapper .grid-container .item .item-info p {
    font-size: 1.1rem;
  }
  .main form input[type="button"] {
    font-size: 1.5rem;
    border-radius: 5px;
  }
}

@media (max-width: 767px) {
  .main .info .info-wrapper {
    padding: 5%;
    border-radius: 8px;
  }
  .main .info .info-wrapper .name p {
    font-size: 1.1rem;
  }
  .main .info .info-wrapper .other-info p {
    font-size: 0.8rem;
  }
  .main .container .container-wrapper #to-claim-header, .main .container .container-wrapper #claim-header {
    font-size: 1.3rem;
  }
  .main .container .container-wrapper .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .container .container-wrapper .grid-container .item {
    width: 85%;
  }
  .main .container .container-wrapper .grid-container .item .item-info p {
    font-size: 1rem;
  }
  .main form {
    padding-bottom: 10%;
  }
  .main form input[type="button"] {
    font-size: 1rem;
    padding: 2% 10% 2% 10%;
  }
}
/*# sourceMappingURL=doctor-prescribe-scanned.css.map */