@import "./doctor-default";

.main {
    padding-top: 2%;
    padding-bottom: 10%;

    .info {
        background-color: #54A7FF;
        border-radius: 20px;
        padding: 1% 2% 3% 2%;
        width: 80%;

        p {
            color: white;
        }
       
        .name {
            p {
                font-size: 2.5rem;
                font-family: Inter-Bold;
                border-bottom: 1.5px solid white;
            }
        }

        .other-info {
            p {
                margin: 0;
                font-size: 1.2rem;
                padding: 0.7%;
            }
        }
        
    }

    .container {

        #to-claim-header, #claim-header {
            font-size: 2rem;
            font-family: Inter-Bold;
            padding: 2%;
            padding-left: 10%;
        }

        .flex-wrapper {
            width: 80%;
            background-color: $inactive_color_2;
            border-radius: 20px;
            padding-bottom: 1%;
            display: flex;
            justify-content: space-between;

            .column {
                padding-top: 2%;
                display: flex;
                flex-direction: column;
                

                .item {
                    background-color: #30AADD;
                    width: 100%;
                    border-radius: 20px;
                    padding-right: 2%;
                    margin-bottom: 2%;

                    img {
                        width: 25%;
                        padding: 4%;
                        border-radius: 40px;
                        float: left;
                    }
                    .item-info {
                        padding-top: 5%;
                        p {
                            color: white;
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    form {
        text-align: center;
        padding-top: 2%;
        input[type="button"] {
            @include big-button();
            font-size: 1.2rem;
            padding: 1% 6% 1% 6%;
            border-radius: 10px;
        }
    }
}

.footer {
    ul {
        #prescribe {
            @include footer-blue();
        }
    }
}

@media (max-width: 1024px) {
    .main {
        .info {
            .name {
                margin-top: 1%;
                p {
                    font-size: 2.3rem;
                }
            }

            .other-info {
                p {
                    font-size: 1rem;
                }
            }
        }

        form {
            padding-bottom: 5%;
        }
    }
}

@media (max-width: 767px) {
    .main {
        .info {
            .name {
                margin-top: 1%;
                p {
                    font-size: 1.12rem;
                    text-align: center;
                }
            }

            .other-info {
                p {
                    font-size: 1rem;
                }
            }
        }

        .container {
            #to-claim-header, #claim-header {
                font-size: 1.3rem;
            }

            .flex-wrapper {
                flex-direction: column;
            }
        }

        form {
            padding-bottom: 10%;
        }
    }
}
