@import "./doctor-base";

.content {
    padding-top: 1%;
    .back {
        padding: 2% 3%;
    }

    .cp-output {
        text-align: center;
        padding-top: 8%;
        color: red;
    }

    form {
        padding-top: 2%;
        .form-container {
            padding-bottom: 1%;
            p {
                font-size: 1.4rem;
                padding-bottom: 1%;
            }
            input {
                @include text-input();
            }

            #confirmation {
                font-size: 1rem;
                padding-top: 2%;
            }
        }
        .changepass {
            text-align: center;
            padding-top: 7%;
            input[type=submit] {
                @include button-color-2();
            }
        }
    }
}

.footer {
    #profile {
        @include footer-blue();
    }
}

@media (max-width: 767px) {
    .content {
        .back {
            padding: 3% 5% 5% 5%;
        }

        .form-container {
            form {
                width: 90%;
                p {
                    font-size: 1rem;
                }
            }
            p {
                padding-left: 6%;
            }
        }

        .changepass {
            form {
                input[type=button] {
                    font-size: 1.2rem;
                    padding: 2% 7%;
                }
            }
        }
    }
}
